* {
    margin: 0;
}

header {
    background: lightgrey;
    width: 100vw;
    display: flex;
    justify-content: center;
}

header p {
    padding: 25px;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main {
    padding: 25px;
    width: 80vw;
}

h1 {
    font-size: 4em;
    color: navy;
    padding-bottom: 50px;
}

h3 {
    color: rgb(236, 120, 65);
}

div {
    line-height: 1.4em;
}
footer {
    background: lightgrey;
    width: 100vw;
    display: flex;
    justify-content: center;
}

footer p {
    padding: 25px;
}
