body {
    font-family: sans-serif;
    line-height: 1.4em;
}

header {
    background: lightgrey;
    width: 100vw;
    display: flex;
    justify-content: center;
}

header p {
    padding: 25px;
}

h1 {
    color: rgb(236, 120, 65);
    text-align: center;
}
table {
    width: 90vw;
    border-collapse: collapse;
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
}

/* mobile view overflow */
table tr {
    overflow: scroll;
}

@media only screen and (max-width: 1200px) {
    table li {
        min-width: 50vw;
    }
}
/* end mobile view overflow */

table th,
table tr,
table td {
    border: 1px black solid;
    padding: 10px;
}

table th {
    background-color: #b9b9b9;
}
table td {
    width: 50%;
    vertical-align: top;
}

footer {
    background: lightgrey;
    width: 100vw;
    display: flex;
    justify-content: center;
}

footer p {
    padding: 25px;
}
